

*{
    padding: 0;
    margin: 0;
    font-family: Playpen sans, sans-serif, Helvetica, sans-serif;
    box-sizing: border-box;
}

#navar {
    background-color: rgb(49, 48, 77);
    z-index: 5;
}

body {
    background-image: url(https://images.pexels.com/photos/2041540/pexels-photo-2041540.jpeg?auto=compress&cs=tinysrgb&w=600);
    background-repeat: no-repeat;
    background-size: cover;
}

.learn {
    height: 90vh;
    margin-top: 60px;
    align-items: center;
}

.learn h1 {
    font-size: 40px;
}

.facebook-btn {
    padding: 8px 14px;
}

.with {
    background-color: rgba(46, 47, 47, 0.793);
    padding: 30px;
    border-radius: 10px;
    text-wrap: nowrap;
}

.features {
    background-color: rgb(158, 200, 185);
    padding: 5% 4%;
}

.some-icon {
    background-color: rgb(9, 38, 53);
}

.free {
    border: solid purple ;
    border-radius: 10px;
    margin-top: 25px;
    transition: .3s;
}  

.thumb {
    font-weight: bold;
    text-wrap: nowrap;
}

.free:hover {
    box-shadow: 2px 3px 3px black;
    transform: scale(1.04);
}