

*{
    padding: 0;
    margin: 0;
    font-family: Playpen sans, sans-serif, Helvetica, sans-serif;
    box-sizing: border-box;
    background-color: transparent;
}

#navar {
    background-color: rgb(49, 48, 77);
    z-index: 5;
}

body {
    margin: 0;
    padding: 0;
    height: 100%;
    background: rgb(0, 0, 0);
    position: relative;;
}

#particles-js {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgb(255, 255, 255);
    z-index: -1;
}
.learn {
    height: 90vh;
    margin-top: 60px;
    align-items: center;
}

.learn h1 {
    font-size: 40px;
}

.facebook-btn {
    padding: 8px 14px;
}

.with {
    background-color: rgba(46, 47, 47, 0.793);
    padding: 30px;
    border-radius: 10px;
    text-wrap: nowrap;
}

.features {
    padding: 5% 4%;
}

.some-icon {
    background-color: rgb(9, 38, 53);
}

.free {
    border: solid purple ;
    border-radius: 10px;
    margin-top: 25px;
    transition: .3s;
}  

.thumb {
    font-weight: bold;
    text-wrap: nowrap;
}

.free:hover {
    box-shadow: 4px 4px 4px black;
    transform: scale(1.04);
}

.about {
    font-weight: bold;
}

.dotted {
    border: dotted 8px;
    width: 150px; 
    border-bottom: none;
}

.room h4 {
    font-weight: bold;
}